<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="heading">
        <a href="https://nine-quora-post-3.onrender.com/posts">
            <h1 class="head">Quora Web</h1>
        </a>
    </div>
    <form action="/posts" method="post">
        <div class="form-cont">
            <h1 class="head">Create New Post</h1>
            <input class="newuser" placeholder="Enter Username" name="username">
            <textarea class="newcont" name="content" placeholder="Enter Content"></textarea>
            <button class="glow-on-hover">Submit Post</button>
        </div>
    </form>


</body>

</html>
