* {
    margin : 0;
    padding: 0;
}

.wrapper {
    height          : 100%;
    width           : 100vw;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    gap             : 3rem;
    background-color: #14213d;
    padding-top     : 10rem;
}

.edpost {
    background-color: red;
}

.head {
    margin-bottom: 2rem;
    text-align   : center;
    color        : #fdf0d5;
    font-size    : 3rem;

    /* padding-top: 2rem; */
}

.heading {
    height          : 10vh;
    width           : 100vw;
    background-color: #000000;
    position        : fixed;
    top             : 0;
    box-shadow      : 4px 4px 9px black;

}

.iheading {
    position        : relative;
    display         : flex;
    justify-content : space-between;
    height          : 10vh;
    width           : 100vw;
    background-color: #000000;
    position        : fixed;
    top             : 0;
    box-shadow      : 4px 4px 9px black;
    z-index         : 1;
}

.iheading .head {
    position: absolute;
    top     : 9px;
    left    : 5%;
}

.new-container {
    background-color: #14213d;
}

.iheading .glow-on-hover {
    position: absolute;
    right   : 5%;
    top     : -15%;
}

.post {

    height        : 200px;
    min-height    : 300px;
    max-height    : max-content;
    width         : 60%;
    padding       : 1.7rem;
    display       : flex;
    flex-direction: column;

    gap             : 1rem;
    background-color: #e5e5e5;
    color           : #ffffff;
    text-align      : center;
    font-size       : 20px;
    border-radius   : 1rem 4rem;
    font-family     : "Trirong", serif;
    box-shadow      : 2px 2px 5px #fdf0d5;

}

.content {
    overflow  : hidden;
    text-align: justify;
    color     : #14213d;
    /* padding: 0.2rem; */
}

.user {

    text-align      : center;
    color           : #003049;
    background-color: #fca311;
    height          : 3rem;
    padding-top     : 1rem;
    box-shadow      : 3px 3px 7px rgb(219, 125, 125);
    border-radius   : 1rem 3rem;
}

.eddel {
    display: flex;
    gap    : 1rem;

}

.del {
    outline         : none;
    border          : none;
    color           : #0238e7;
    font-size       : 1.3rem;
    font-weight     : bold;
    background-color: #e5e5e5;
    text-align      : left;
    padding-left    : 0.75rem;
    padding-bottom  : 10px;
    cursor          : pointer;
    font-family     : "Trirong", serif;
}

.edview {

    display        : flex;
    align-items    : center;
    justify-content: space-between;


}

.form-cont {
    height          : 100vh;
    width           : 100vw;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    background-color: #14213d;
}

.form-cont input {
    background-color: red;
    height          : 50px;
    padding         : 1rem;
    background-color: #fdf0d5;
    color           : rgb(16, 12, 12);
    font-size       : 1.5rem;
    border          : none;
    outline         : none;
    margin          : 1rem 2rem;
    border-radius   : 1rem;
    box-shadow      : 2px 2px 5px black;
}

.form-cont textarea {
    height          : 200px;
    color           : rgb(16, 12, 12);
    background-color: #fdf0d5;
    font-size       : 1.2rem;
    border          : none;
    padding         : 1rem;
    outline         : none;
    margin          : 1rem 2rem;
    border-radius   : 1rem;
    box-shadow      : 2px 2px 5px black;
}



.nwrapper {
    padding-block    : 8rem;
    height           : 100%;
    width            : 100vw;
    display          : flex;
    flex-direction   : column;
    align-items      : center;
    justify-content  : center;
    gap              : 3rem;
    background-color : #14213d;
    /* padding-bottom: 3rem; */
    overflow         : hidden;
}

.npost {


    font-size    : 1.4rem;
    font-weight  : bolder;
    overflow     : visible;
    /* min-height:max-content; */
    height       : 100%;
    min-height   : fit-content;
    max-height   : max-content;
    color        : #14213d;
}

.form-container {
    display       : flex;
    flex-direction: column;
    font-family   : "Trirong", serif;
}

.form-container textarea {
    height          : 400px;
    min-height      : fit-content;
    max-height      : max-content;
    overflow        : hidden;
    color           : rgb(16, 12, 12);
    background-color: #fdf0d5;
    font-size       : 1.1rem;
    font-weight: 600;
    border          : none;
    padding         : 1rem;
    outline         : none;
    margin          : 1rem 2rem;
    border-radius   : 1rem;
    font-family     : "Trirong", serif;
    box-shadow      : 2px 2px 5px black;
}

.edview a {
    text-decoration: none;
    color          : #0238e7;
    font-size      : 1.3rem;
    font-weight    : bolder;
    text-align     : left;
    padding-left   : 0.75rem;
    padding-bottom : 10px;
}

.post a {
    text-decoration: none;
    color          : #0238e7;
    font-size      : 1.3rem;
    font-weight    : bolder;

    padding-left  : 0.75rem;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color          : #0238e7;
}

.glow-on-hover {
    width        : 220px;
    height       : 50px;
    border       : none;
    outline      : none;
    font-family  : "Trirong", serif;
    font-size    : 1.6rem;
    font-weight  : 550;
    color        : #14140c;
    background   : #fca311;
    cursor       : pointer;
    position     : relative;
    z-index      : 0;
    border-radius: 10px;
    margin       : 0 auto;
    margin-top   : 1.5rem;
    margin-bottom: 1rem;

    box-shadow: 3px 3px 7px rgb(201, 169, 8);
}

.glow-on-hover:before {
    content        : '';
    background     : linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position       : absolute;
    top            : -2px;
    left           : -2px;
    background-size: 400%;
    z-index        : -1;
    filter         : blur(5px);
    width          : calc(100% + 4px);
    height         : calc(100% + 4px);
    animation      : glowing 20s linear infinite;
    opacity        : 0;
    transition     : opacity .3s ease-in-out;
    border-radius  : 10px;
}

.glow-on-hover:active {
    color: #fca311;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index      : -1;
    content      : '';
    position     : absolute;
    width        : 100%;
    height       : 100%;
    background   : #fca311;
    left         : 0;
    top          : 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


@media only screen and (max-width: 600px) {
    .user {
        font-size     : 20px;
        padding-bottom: 1rem;
    }

    .content {
        font-size: 17px;
    }

    .edview {
        display       : flex;
        flex-direction: column;
        text-align    : center;
    }
}